.hero-sale-container {
    width: 100%;
    margin-bottom: 40px;
}

.hero-slide {
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-slide-image {
    width: 100%;
    aspect-ratio: 6 / 4;
    background-size: cover;
    background-position: center;
}

.hero-content {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    color: black;
}

.swiper-custom-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 24px;
    height: 1.5px;
    border-radius: 0;
    background-color: #000000;
    opacity: 1;
    margin: 0 5px;
}

.swiper-pagination-bullet-active {
    width: 23px;
    height: 5px;
}

.hero-title,
.hero-text {
    text-transform: uppercase;
}

.hero-title {
    font-size: clamp(1rem, 2vw + 0.6rem, 3rem);
    margin-bottom: 8px;
}

.hero-text {
    font-size: clamp(0.6rem, 2vw + 0.35rem, 1.5rem);
    margin-bottom: 12px;
}

@media (min-width: 768px) {
    .hero-slide {
        position: relative;
        flex-direction: row;
        align-items: center;
    }

    .hero-slide-image {
        flex: 1;
        aspect-ratio: 15 / 6;
    }

    .hero-content {
        position: absolute;
        top: 50%;
        left: 1%;
        transform: translateY(-50%);
        bottom: 0;
        color: black;
        padding: 20px;
        background-color: transparent;
        max-width: 25%;
        margin-left: 2.2rem;
    }

    .hero-text {
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 1.25rem;
    }

    .swiper-custom-pagination {
        position: relative;
        margin-top: 30px;
    }
}